# Stitch and Derp
/src/ @Soumil07 @MeDerpWasTaken

# Just Derp
/.all-contributorsrc @MeDerpWasTaken

# Just Stitch
/tests/ @Soumil07
/.github @Soumil07
/.eslintrc.json @Soumil07
/Dockerfile @Soumil07
/Dockerfile.prod @Soumil07
/docker-compose.prod.yml @Soumil07
/docker-compose.yml @Soumil07
/tsconfig.eslint.json @Soumil07
